h2 {
  text-align: center;
}

.iconContainer {
  text-align: right;
  background-position: right;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  padding-right: 0 !important;
}

img{
  height: 100%;
}

.row {
  margin-bottom: 5px;
}
.stepContainer {
  display: flex;
  justify-content: space-between;
}

.stepBox{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  margin: 5px;
  border: solid 2px black
}

.stepCounterContainer {
  justify-content: space-between;
  display: flex;
}
.firstFour{
  background-color: rgb(185, 227, 129);
}
.secondFour{
  background-color: rgb(226, 112, 111);
}
.stepCounterBox{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin: 10px;
  border: solid 2px black
}

.numbersContainer {
  justify-content: space-between;
  text-align: center;
  display: flex;
  align-items: center;
  line-height: 20px;
}

.numberBox{
  width: 20px;
  height: 20px;
  margin: 5px 5px 0px 5px;
  border-bottom:  solid black 2px;
}

.active {
  background-color: rgb(12, 107, 136);
}

.currentStep {
  background-color: rgb(12, 107, 136);
}

button{
  margin-left: 15px !important;
}

.collapse{
  height: 100px;
  border: solid black 2px;
}

#settingsPage{
  margin-top: 50px;
  width: 500px;
  height: 200px;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
